<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Inquiry Module</div>
    <div class="page__content shadow p-3 position-relative">

        <mat-tab-group backgroundColor="primary" animationDuration="0ms" mat-align-tabs="left">
            <mat-tab label="New Inquiry">
              <app-inq-form></app-inq-form>
            </mat-tab>
            <mat-tab label="Inquiry List">
              <app-inq-list></app-inq-list>
            </mat-tab>
            <!-- <mat-tab label="Find Inquiry">
             <app-inq-search></app-inq-search>
            </mat-tab>            -->
          </mat-tab-group>     
    </div>
  </div>
  