<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Reservation Module</div>
  <div class="page__content shadow p-3 position-relative">

    <mat-tab-group backgroundColor="primary" animationDuration="0ms" mat-align-tabs="left">
      <mat-tab label="Pending Reservation">
        <app-res-search></app-res-search>
      </mat-tab>
      <mat-tab label="Check IN/OUT">
        <app-res-list></app-res-list>
      </mat-tab>
      <!-- <mat-tab label="Reservation List">
        <app-res-list></app-res-list>
      </mat-tab> -->

    </mat-tab-group>
  </div>
</div>