<div class="fs-4 text-center">{{dialogTitle}}</div>

<div class="container-fluid">

    <form role="form" #iForm="ngForm" (submit)="formSubmit(iForm)" novalidate>

        <div style="border-color: darkred; border-radius: 2px; border-bottom: darkred; border-width: 4px;">
        <div class="row">
            <input type="hidden" name="paymentId" [(ngModel)]="service.iFormData.paymentId" #paymentId/>
            <input type="hidden" name="custId" [(ngModel)]="service.iFormData.custId" #custId/>
            <input type="hidden" name="hoteId" [(ngModel)]="service.iFormData.hoteId" #hoteId/>
            <!-- <input type="" name="PaymentDate" [(ngModel)]="service.iFormData.paymentDate" #paymentDate value="{{date  | date:'yyyy-MM-dd'}}"/> -->
    
    
            <div class="form-group col-md-4">
                <label class="form-label fs-6 fw-bold">RESERVATION ID:</label>
    
                <input type="text" class="form-control form-control-sm fs-6 " name="resId" id="resId" 
                [(ngModel)]="service.iFormData.resId" required [disabled]='idInitial' #resId
                    value="{{v}}">
    
            </div>
            <div class="row mt-3">
                <div class="form-group col-md-4">
                    <button type="button" class=" btn form-btn btn-m btn-outline-primary"
                        (click)="validateId(resId.value,iForm)">
                        Get Rooms
                    </button>
                </div>
            </div>
            <!-- <div class="form-group col-md-4">
    
                <label class="form-label fs-6 fw-bold">HOTEL:</label>
    
                <select class="form-control form-control-sm fs-6" #hotelName="ngModel" name="hotelId"
                    [(ngModel)]="service.iFormData.hotelId" required [disabled]='idValid'>
                    <option selected></option>
                    <option *ngFor="let hN of hList" [value]="hN.hotelId">
                        {{hN.hotelName}}
                    </option>
                </select>
            </div> -->
        </div>
        
        
        </div>
   
    
        <div class="row mb-2">
         
            <div class="form-group col-md-4">
                <label class="form-label fs-6 fw-bold">ROOM NAME:</label>
    
                <select class="form-control form-select form-select-sm" #roomName="ngModel" name="roomId"
                    [(ngModel)]="service.iFormData.roomId" required [disabled]='idLock'
                    >
                    <option selected></option>
                    <option *ngFor="let rN of rList" [value]="rN.roomId">
                        {{rN.roomName}}
                    </option>
                </select>
            </div>
    
            <div class="form-group col-md-4">
                <label class="form-label fs-6 fw-bold">PAY AMOUNT:</label>
    
                <input type="text" class="form-control form-select-sm fs-6 " name="paymentAmount" id="paymentAmount" required
                    [disabled]='idValid' #resPrice="ngModel" [(ngModel)]="service.iFormData.paymentAmount">
    
            </div>
        </div>
        
    <div class="row">
        <div class="form-group col-md-3">
            <label class="form-label fs-6 fw-bold">STATUS:</label>
            <select class="form-select form-select-sm" #paymentStat="ngModel" name="paymentStat"
            [(ngModel)]="service.iFormData.paymentStat" [disabled]='idValid'>
            <option selected></option>
            <option value="A">Active</option>
            <option value="C">Canceled</option>
            </select> 
                            
        </div>

        <div class="form-group col-md-4">
            <label class="form-label fs-6 fw-bold">PAYMENT DATE:</label>

            <input type="text" class="form-control form-select-sm fs-6 " name="paymentDate" id="paymentDate" required
                [disabled]='idLock' #paymentDate="ngModel" [(ngModel)]="service.iFormData.paymentDate">

        </div>
    </div>
        <div class="row justify-content-end">
            <div class="form-group mb-3 text-right col-sm-7">
                <button class="btn btn-success btn-sm m-3" type="submit" [disabled]="iForm.form.invalid">
                    SUBMIT</button>
                <button class="btn btn-warning btn-sm" type="reset" (click)="formClose(iForm)"> CANCEL</button>
            </div>
        </div>
    </form>
</div>


