<div class="fs-4 text-center">{{dialogTitle}}</div>

<div class="container-fluid mt-5 border p-3 col-11">

    <form role="form" #custForm="ngForm" (submit)="formSubmit(custForm)" novalidate>

        <input type="hidden" name="custId" [value]="service.custFormData.custId" />

        

            <div class="form-group row mb-2">
                <label class="col-sm-3 col-form-label fs-6 fw-bold">CONTACT:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control fs-6" #custContact="ngModel" name="custContact"
                        [(ngModel)]="service.custFormData.custContact" required maxlength="12" minlength="10" [disabled]='idInitial'>
                </div>
                <div class="col-sm-1">
                    <button *ngIf="isShown" type="button" class="btn btn-m btn-outline-primary"
                        (click)="validateId(service.custFormData.custContact)">
                        Validate
                    </button>
                </div>
            </div>

        <div class="form-group row mb-2">
            <label class="col-sm-3 col-form-label fs-6 fw-bold">CUSTOMER NAME1:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control fs-6 " #custName1="ngModel" name="custName1"
                    [(ngModel)]="service.custFormData.custName1" required [disabled]='idValid'>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col-sm-3 col-form-label fs-6 fw-bold">CUSTOMER NAME2:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control fs-6 " #custName2="ngModel" name="custName2"
                    [(ngModel)]="service.custFormData.custName2" required maxlength="20" minlength="4"
                    [disabled]='idValid'>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col-sm-3 col-form-label fs-6 fw-bold">EMAIL:</label>
            <div class="col-sm-5">
                <input type="email" class="form-control fs-6 " #custEmail="ngModel" name="custEmail"
                    [(ngModel)]="service.custFormData.custEmail" [disabled]='idValid'>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col-sm-3 col-form-label fs-6 fw-bold">STATUS:</label>
            <div class="col-sm-3">
                <select class="form-select form-select-sm" #custDeleteStatus="ngModel" name="custDeleteStat"
                    [(ngModel)]="service.custFormData.custDeleteStat" [disabled]='idValid'>
                    <option selected></option>
                    <option value="A">Active</option>
                    <option value="I">In-Active</option>
                </select>
            </div>
        </div>

        <div class="row justify-content-end">
            <div class="form-group mb-3 text-right col-sm-7">
                <button class="btn btn-success btn-sm m-3" type="submit" [disabled]="custForm.form.invalid">
                    SUBMIT</button>
                <button class="btn btn-warning btn-sm" type="reset" (click)="formClose(custForm)"> CANCEL</button>
            </div>
        </div>
    </form>
</div>