<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">System Configurations</div>
    <div class="page__content shadow p-3 position-relative">

        <mat-tab-group backgroundColor="primary" animationDuration="0ms" mat-align-tabs="left">
            <mat-tab label="Hotels">
              <app-hotel></app-hotel>
            </mat-tab>
            <mat-tab label="Departments">
              <app-departments></app-departments>
            </mat-tab>
            <mat-tab label="Rooms">
             <app-rooms></app-rooms>
            </mat-tab>
            <mat-tab label="Value Added Services">
              <app-vas></app-vas>
            </mat-tab>
            <mat-tab label="Users">
              <app-user></app-user>
            </mat-tab>
            <mat-tab label="Roles">
              <app-roles></app-roles>
            </mat-tab>
           
            
          </mat-tab-group>

          
          

          
          
     
    </div>
  </div>
  