<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Bar Module</div>
    <div class="page__content shadow p-3 position-relative">

        <mat-tab-group backgroundColor="primary" animationDuration="0ms" mat-align-tabs="left">
            <mat-tab label="Add Income">
              <app-income-form></app-income-form>
            </mat-tab>
            <mat-tab label="Add Expense">
              <app-expense-form></app-expense-form>
            </mat-tab>
            <mat-tab label="Sales">
             <app-sales-list></app-sales-list>
            </mat-tab>  
            <mat-tab label="Expenses">
              <app-expense-list></app-expense-list>
             </mat-tab>           
          </mat-tab-group>     
    </div>
  </div>
  