.mat-dialog-container{

    padding: 0px !important
}

.bDropErr {
    background-color: #dd3434f2;
    backdrop-filter: blur(4 px);
 }

 .mat-dialog-content.bDropErr{
    background-color: #dd3434f2;
 }
